
	<p>Ваххабизм сейчас распространяется и по всему миру, и по всей нашей стране. Я сейчас лечу на Чукотку, так вот даже там появилась ваххабитская община. 
	Казалось бы откуда? Страна болеет ваххабизмом в разных стадиях. Есть места легко излечимые, есть места, где ваххабитская община укоренилась давно и болезнь запущена. Если сравнивать с Дагестаном,
	где 4-я стадия болезни — религиозная война, то после этого покушения, Татарстан можно отнести к третьей стадии. Сейчас Татарстан очень похож на Дагестан образца 1998 года. 
	Там было сходное покушение на муфтия — его тоже взорвали в машине, он погиб. А после этого, начали убивать всех высокопоставленных сотрудников муфтията. Погибло около сорока человек.
	Погибший, Валлиула Якубов, последовательно боролся с ваххабизмом в республике. Неоднократно призывал запретить ваххабизм на федеральном уровне, упирая на то, что именно от их рук, 
	гибнет больше всего людей в терактах. Разумеется, его ваххабиты ненавидели. К тому же он занимался изданием традиционной исламской литературы. А его обвиняли в том, что он борется с исламом. 
	Можно только надеятся, что преемники продолжат его работу. А пока, можно констатировать факт, что в Татарстане появилось ваххабитское вооруженное подполье, достаточно многочисленное. 
	Раньше они действовали за пределами республики — в Вазиристане, например, воевал татарский батальон. Десятки ваххабитов из Татарстана были завербованы международными организациями — 
	их задерживали и убивали в Афганистане, например. Специалисты давно говорили, еще с конца 90-х годов, что в Татарстане действует ваххабитская вербовочная сеть. 
	Но власти республики эту информацию не воспринимали, более того, заявляли, о том, что «республику пытаются опорочить и оболгать».<input name="nick" type="text" size="40">
	<h1>Live example</h1>
	<div id="demo">
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>

	</div>
	<div class="spacer"></div>