
	<p>Тег является одним из разносторонних элементов формы и позволяет создавать разные элементы интерфейса и обеспечить взаимодействие с пользователем. Главным образом предназначен для создания текстовых полей, различных кнопок, переключателей и флажков. Хотя элемент не требуется помещать внутрь контейнера, определяющего форму, но если введенные пользователем данные должны быть отправлены на сервер, где их обрабатывает серверная программа, то указывать  обязательно. То же самое обстоит и в случае обработки данных с помощью клиентских приложений, например, скриптов на языке JavaScript.</p>
	Логин: <input name="nick" type="text" size="40">
	<h1>Live example</h1>
	<div id="demo">
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>

	</div>
	<div class="spacer"></div>