
	<h1>Данные системы</h1>
	<table width="600px"  border="0">
	<tr>
    <td width="300px">
	<p id="rss"><strong>Node:</strong> <%= rss %> Мб.</p>
	<p id="heapTotal"><strong>Total V8:</strong> <%= heapTotal %> Мб.</p>
	<p id="heapUsed"><strong>Used V8:</strong> <%= heapUsed %> Мб.</p>
	<p id="RedisMemory"><strong>Redis:</strong> <%= RedisMemory %> Мб.</p>
	<p id="total"><strong>Общий расход памяти:</strong>  Мб.</p>
	<p id="freemem"><strong>Свободная память:</strong> <%= freemem %> Мб.</p>
	<p id="totalmem"><strong>Вся память:</strong>  <%= totalmem %> Мб.</p></td>
    <td><p id="choices">Отоброжать:</p></td>
	</tr>
	</table>
	<div id="memorygraph" style="width:700px;height:300px;"></div>
	<script type="text/javascript">
	$(document).ready(function() {	
			var shag = 0;
			
			var options = {
			eries: { shadowSize: 0 }, 
			yaxis: { min: 0, max: <%= rss %>+10 },
			xaxis: { show: false }
			};
			
			
			var sum = <%= rss %> + <%= heapTotal %> + <%= heapUsed %> + <%= RedisMemory %>;
			
			var all_data = [
			{ label: "Node", data: [[0, <%= rss %>]]},
			{ label: "Total V8", data: [[0,<%= heapTotal %>]]},
			{ label: "Used V8", data: [[0, <%= heapUsed %>]]},
			{ label: "Redis", data: [[0, <%= RedisMemory %>]]},
			{ label: "Total expenditure", data: [[0, sum]]},
			{ label: "Free Memory", data: [[0, <%= freemem %>]]},
			{ label: "Total Memory", data: [[0, <%= totalmem %>]]}
			];
			
			var activedata = [];
			
			$.plot($("#memorygraph"), all_data, options);
			
			var j = 0;
			$.each(all_data, function(key, val) {
				val.color = j;
			++j;
			});
			
    
			// insert checkboxes 
			var choiceContainer = $("#choices");
			$.each(all_data, function(key, val) {
			choiceContainer.append('<br/><input type="checkbox" name="' + key +
                               '" checked="checked" id="id' + key + '">' +
                               '<label for="id' + key + '">'
                                + val.label + '</label>');
			});
			
			choiceContainer.find("input").click(plotAccordingToChoices);
			
			function plotAccordingToChoices() {
				for(var i=0; i<all_data.length; i++) activedata[i] = 0;
				choiceContainer.find("input:checked").each(function () {
					var key = $(this).attr("name");
					activedata[key] = 1;
				});
			}
			
			plotAccordingToChoices();
			
		
			function update() {
				socket.emit('sys_data');
        
				setTimeout(update, 100);
			}
			
			socket.on('sys_start', function () {
				update();
			});
			
			socket.on('sys_data_update', function (rss, heapTotal, heapUsed, RedisMemory, totalmem, freemem) {
					$('#rss').html('<strong>Node:</strong> '+rss+' Мб.');
					$('#heapTotal').html('<strong>Total V8:</strong> '+heapTotal+' Мб.');
					$('#heapUsed').html('<strong>Used V8:</strong> '+heapUsed+' Мб.');
					$('#RedisMemory').html('<strong>Redis:</strong> '+RedisMemory+' Мб.');
					sum = parseFloat(rss, 2) + parseFloat(heapTotal, 2) + parseFloat(heapUsed, 2) + parseFloat(RedisMemory, 2);
					$('#total').html('<strong>Общий расход памяти:</strong> '+sum.toFixed(2)+' Мб.');
					$('#totalmem').html('<strong>Вся память:</strong> '+totalmem+' Мб.');
					$('#freemem').html('<strong>Свободная память:</strong> '+freemem+' Мб.');
					shag++;
					all_data[0].data.push([shag, rss]);
					all_data[1].data.push([shag, heapTotal]);
					all_data[2].data.push([shag, heapUsed]);
					all_data[3].data.push([shag, RedisMemory]);
					all_data[4].data.push([shag, sum]);
					all_data[5].data.push([shag, freemem]);
					all_data[6].data.push([shag, totalmem]);
					var buffdata = [];
					for(var i=0; i<all_data.length; i++){
						if(activedata[i] != 0) buffdata.push(all_data[i]);
					}
					
					$.plot($("#memorygraph"), buffdata, {
						xaxis: {
						min: 0,
						max: shag+shag/3
						}
					});
					
			});
					
	});
	
			
	</script>