	<script type="text/javascript">
	$(document).ready(function() {	
					
					$('form').validate({
					   submitHandler: function() {
						flag_valid = true;
					   }
					});
					
					$("input:text").keydown(function (event) {
						if (event.keyCode == 13) {
						event.preventDefault();
						}
					});
					
					$("input[name='no_save']").click(function(){
						buff_msg = 'not';
						$('#'+name_form+" *").attr("disabled", false);
						$('#pbdiv').hide();
					});
					
					$('form').submit(function(){
						name_form = $(this).attr('id');
						if(flag_valid === true){
							flag_valid = false;
							$('#pbdiv').show();
							var array_table = $('#'+name_form).serializeArray();
							$('#'+name_form+" *").attr("disabled", true);
							$('#status').text('Подключение к серверу.').css('color','#333');
							$('#progressbar').progressbar({ value: 0 });
							buff_msg = 'update_form_save';
							buff_arr = array_table;
							id = <%= dataedit.ID %>;
							socket.emit(buff_msg, name_form, <%= dataedit.ID %>, array_table);
						} 
						return false;
					});
					
					$('#back').click(function(){
						location.href='/<%= user.role %>/rdata';
					});
					
					
					//socket
					socket.on('start_save', function () {
						buff_msg = 'not';
						$('#status').text('Обработка данных на сервере.');
						$('#progressbar').progressbar({ value: 35 });
					});
					
					socket.on('end_save', function () {
						$('#status').text('Данные на сервере сохраненны.');
						$('#progressbar').progressbar({ value: 70 });
						setTimeout(function() {
							$('#status').text('Переход на страницу данных о заказе.');
							$('#progressbar').progressbar({ value: 100 });
							location.href='/<%= user.role %>/rdata';
						}, 100);
					});
				
					socket.on('err_save', function (err) {
					$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
					setTimeout(function() {
							$('#'+name_form+" *").attr("disabled", false);
							$('#pbdiv').hide();
						}, 6000);
					});
								
			});
	</script>
	<%- partial('status') %>
	<h1>Редактирование данных о продукции</h1>
	<form method="post" id="prod_update" action="/">
	<table width="100%"  border="0" cellpadding="4" cellspacing="4">
	  <tr>
		<td width="20%" align="right">Название:*</td>
		<td width="80%"><input name="NAME" type="text" size="20" class="required" value="<%= dataedit.NAME%>"></td>
	  </tr>
	  <tr>
		<td align="right">Единица измерения:</td>
		<td><select name="UNIT">
			<option value="--" <% if(dataedit.UNIT === "--") { %> selected<%}%>>нет </option>
			<option value="шт" <% if(dataedit.UNIT === "шт") { %> selected<%}%>>шт </option>
			<option value="м2" <% if(dataedit.UNIT === "м2") { %> selected<%}%>>м2 </option>
		</select></td>
	  </tr>
	  <tr>
		<td align="right">Статус договора:</td>
		<td><select name="ARCHIVE">
			<option value="0" <% if(dataedit.ARCHIVE === 0) { %> selected<%}%>>активен</option>
			<option value="1" <% if(dataedit.ARCHIVE === 1) { %> selected<%}%>>в архиве</option>
		</select></td>
	  </tr>
		<td align="right"></td>
		<td><button type="button" id="back">&nbsp;&nbsp;Назад&nbsp;&nbsp;</button><button type="subbutton" id="sub">Сохранить</button></td>
	  </tr>
	</table>
	</form>
