	<script type="text/javascript">
	$(document).ready(function() {	
					$("#list_prod").dataTable({
					"sPaginationType": "full_numbers",
					"aoColumns": [
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center"}
								]
					});
					
					
					$('form').validate({
					   submitHandler: function() {
						 flag_valid = true;
					   }
					});
					
					$("input:text").keydown(function (event) {
						if (event.keyCode == 13) {
						event.preventDefault();
						}
					});
					
					$("input[name='no_save']").click(function(){
						buff_msg = 'not';
						$('#save *').attr("disabled", false);
						$('#pbdiv').hide();
					});
					
					
					$('form').submit(function(){
							if(flag_valid === true){
								name_form = $(this).attr('id');
								flag_valid = false;
								$('#pbdiv').show();
								var array_table = $('#save').serializeArray();
								$('#'+name_form+' *').attr("disabled", true);
								$('#status').text('Подключение к серверу.').css('color','#333');
								$('#progressbar').progressbar({ value: 0 });
								buff_msg = 'new_prod';
								buff_arr = array_table;
								socket.emit(buff_msg, name_form, id, array_table);
							}
							return false;
					});
					
					//socket
					socket.on('start_save', function () {
						buff_msg = 'not';
						$('#status').text('Обработка данных на сервере.');
						$('#progressbar').progressbar({ value: 35 });
					});
					
					
					socket.on('end_save', function (new_prod) {
						$('#status').text('Данные на сервере сохраненны.');
						$('#progressbar').progressbar({ value: 70 });
						$('#'+name_form+' *').attr("disabled", false);
						$('#list_prod').dataTable().fnAddData( [
						'<a href="/<%= user.role %>/rdata/edit/prod/'+new_prod.ID+'">'+new_prod.ID+'</a>',
						'<span class="warning">'+buff_arr[0].value+'</span>',
						'<span class="warning">'+buff_arr[1].value+'</span>',
						'<span class="warning">активен</span>',
						'<span class="warning">сейчас</span>'
						]);
						$('#status').text('Добовление данных к таблице.');
						$('#'+name_form)[0].reset();
						$('#progressbar').progressbar({ value: 100 });
						setTimeout(function() {
							$('#pbdiv').hide();
						}, 1000);
					});
				
					socket.on('err_save', function (err) {
					$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
					setTimeout(function() {
							$('#'+name_form+' *').attr("disabled", false);
							$('#pbdiv').hide();
						}, 6000);
					});
					
					$('#new_prod_div').hide();
						
			});
	</script>
	<%- partial('status') %>
	<h1>Добавить новый продукт в справочник<img id="new_prod" class="openclose" src="/images/sort_desc.png" width="19" height="19" border="0" title="Открыть"></h1>
	<div id="new_prod_div">
	<form method="post" id="save" action="/">
	<table width="100%"  border="0" cellpadding="4" cellspacing="4">
	  <tr>
		<td width="20%" align="right">Название:*</td>
		<td width="80%"><input name="NAME" type="text" size="20" class="required"></td>
	  </tr>
	  <tr>
		<td align="right">Единица измерения:</td>
		<td><select name="UNIT">
			<option value="--">нет </option>
			<option value="шт">шт </option>
			<option value="м2">м2 </option>
		</select></td>
	  </tr>
	  <tr>
		<td align="right"></td>
		<td><button type="subbutton" id="sub">Сохранить</button></td>
	  </tr>
	</table>
	</form>
	</div>
	<h1>Справочник продуктов</h1>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="list_prod">
	<thead>
		<tr>
			<th width="30px">№</th>
			<th>Название</th>
			<th>Ед. изм:</th>
			<th width="110px">Статус:</th>
			<th>Дата заключения</th>
		</tr>
	</thead>
	<tbody >
		<% if(result){%>
		<% result.forEach (function(prod){ %>
		<tr class="<% if(prod.ARCHIVE === 0){ %>odd gradeU<%} else { %>odd gradeB<%} %>">
			<td><a href="/<%= user.role %>/rdata/edit/prod/<%= prod.ID %>"><%= prod.ID %></a></td>
			<td><%= prod.NAME %></td>
			<td><%= prod.UNIT %></td>
			<td><% if(prod.ARCHIVE === 0){ %>активен<%} else{ %>в архиве<%} %></td>
			<td><%= prod.UPDATE_DATE %></td>
		</tr>
		<% })}%>
	<tfoot>
		<tr>
			<th>№</th>
			<th>Название</th>
			<th>Ед. изм:</th>
			<th>Статус:</th>
			<th>Дата заключения</th>
		</tr>
	</tfoot>
	</tbody>
	</table>