	<% this.extend("layout"); %>
	<script type="text/javascript">
	$(document).ready(function() {	

			$("input[name='date']").mask("99.99.9999");
					
			$("#list_orders").dataTable({
					"sPaginationType": "full_numbers",
					"aoColumns": [
									{ "sType": "numeric-url", "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sType": "date", "sClass": "center" },
									{ "sClass": "center"},
									{ "sClass": "center"}
								]
			});
			<% if(access != 0){ %>		
					
			$('form').validate({
				submitHandler: function() {
					flag_valid = true;
				}
			});
					
			$("input:text").keydown(function (event) {
				if (event.keyCode == 13) {
					event.preventDefault();
				}
			});
					
			$("input[name='no_save']").click(function(){
				buff_msg = 'not';
				$('#'+name_form+' *').attr("disabled", false);
				$('#pbdiv').hide();
			});
					
					
			$('form').submit(function(){
				if(flag_valid === true){
					name_form = $(this).attr('id');
					flag_valid = false;
					$('#pbdiv').show();
					var array_table = $('#'+name_form+' *').serializeArray();
					$('#'+name_form+' *').attr("disabled", true);
					$('#status').text('Подключение к серверу.').css('color','#333');
					$('#progressbar').progressbar({ value: 0 });
					buff_msg = 'new';
					buff_arr = array_table;
					socket.emit(buff_msg, name_form, array_table);
				}
				return false;
			});
					
			//socket
			socket.on('start_save', function () {
				buff_msg = 'not';
				$('#status').text('Обработка данных на сервере.');
				$('#progressbar').progressbar({ value: 35 });
			});
					
					
			socket.on('end_save', function (new_order) {
				$('#status').text('Данные на сервере сохраненны.');
				$('#progressbar').progressbar({ value: 70 });
				$('#'+name_form+' *').attr("disabled", false);
				$('#list_orders').dataTable().fnAddData( [
					'<a href="/orders/view/main/'+new_order+'">'+new_order+'</a>',
					'<span class="warning">'+buff_arr[1].value+'</span>',
					'<a href="/customers/view/main/'+buff_arr[0].value+'">'+$('select[name="c_id"] :selected').text()+'</a>',
					'<span class="warning">'+buff_arr[2].value+'</span>',
					'<span class="warning">'+buff_arr[3].value+'</span>',
					'<span class="warning">Вы</span>'
				]);
				$('#status').text('Добовление данных к таблице.');
				$('#'+name_form)[0].reset();
				$('#progressbar').progressbar({ value: 100 });
				setTimeout(function() {
					$('#pbdiv').hide();
				}, 1000);
			});
				
			socket.on('err_save', function (err) {
				$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
				setTimeout(function() {
					$('#'+name_form+' *').attr("disabled", false);
					$('#pbdiv').hide();
				}, 6000);
			});
			$('#new_order_div').hide();
			$('#datepicker').datepicker();
			<%}%>	
						
	});
	</script>
	<%@ status %>
	<% if(access != 0){ %>
	<h1>Новый договор<img id="new_order" class="openclose" src="/images/sort_desc.png" width="19" height="19" border="0" title="Открыть"></h1>
	<div id="new_order_div">
	<form method="post" id="order" action="/">
	<table width="100%"  border="0" cellpadding="4" cellspacing="4">
		<tr>
		<td align="right">Заказчик:</td>
		<td><select name="c_id">
		<%for (var i = 0; i < list_customers.length; i++) {%>
			<%if(list_customers[i].u_id === user.id){%><option value="<%= list_customers[i].c_id %>"><%= list_customers[i].formatname  %> </option>
			<% }} %>
		</select></td>
	  </tr>
	  <tr>
		<td width="20%" align="right">Название:*</td>
		<td width="80%"><input name="name" type="text" size="20" autocomplete="off" class="required"></td>
	  </tr>
	  <tr>
		<td align="right">Дата заключения:</td>
		<td><input name="date" id="datepicker" type="text" size="20" ></td>
	  </tr>
	  <tr>
		<td align="right">Примечание:</td>
		<td><textarea name="note" cols="60" rows="5"></textarea></td>
	  </tr>
	  <tr>
		<td align="right"></td>
		<td><button type="subbutton" id="sub">Сохранить</button></td>
	  </tr>
	</table>
	</form>
	</div>
	<%}%>
	<h1>Список договоров</h1>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="list_orders">
	<thead>
		<tr>
			<th width="30px">№</th>
			<th>Название</th>
			<th>Заказчик</th>
			<th>Дата заключения</th>
			<th>Примечание</th>
			<th>Менеджер</th>
		</tr>
	</thead>
	<tbody >
		<%if(list_orders){%>
		<%for (var i = 0; i < list_orders.length; i++) {%>
		<tr class=<% if(list_orders[i].customer.u_id ===  user.id){ %>"gradeA"<%}else {%>"gradeB"<%}%>>
			<td><a href="/orders/view/main/<%= list_orders[i].o_id %>"><%= list_orders[i].o_id %></a></td>
			<td><%= list_orders[i].name %></td>
			<td><a href="/customers/view/main/<%= list_orders[i].c_id %>"><%= list_orders[i].customer.c_name %> </a></td>
			<td><%= list_orders[i].formatdate %></td>
			<td><%= list_orders[i].note %></td>
			<td><%= list_orders[i].customer.fio  %></td>
		</tr>
		<% }}%>
	<tfoot>
		<tr>
			<th>№</th>
			<th>Название</th>
			<th>Заказчик</th>
			<th>Дата заключения</th>
			<th>Примечание</th>
			<th>Менеджер</th>
		</tr>
	</tfoot>
	</tbody>
	</table>