	<% this.extend("layout"); %>
	<script type="text/javascript">
	$(document).ready(function() {	
		
					
					
			$("input[name='date']").mask("99.99.9999");
					
			$("#list_suborders").dataTable({
				"sPaginationType": "full_numbers",
				"aaSorting": [[ 0, "desc" ]],
				"aoColumns": [
								{ "sType": "numeric-url", "sClass": "center" },
								{ "sClass": "center" },
								{ "sClass": "center" },
								{ "sType": "date", "sClass": "center" },
								{ "sClass": "center" },
								{ "sClass": "center" }
							]
			});
		
		<%  if(access >  0 && access !=  1.5){%>		
			$('form').validate({
				 submitHandler: function() {
					flag_valid = true;
				}
			});
					
			$("input:text").keydown(function (event) {
				if (event.keyCode == 13) {
					event.preventDefault();
				}
			});
					
			$("input[name='no_save']").click(function(){
				buff_msg = 'not';
				$('#'+name_form+' *').attr("disabled", false);
				$('#pbdiv').hide();
			});
			
			var subno = <%= list.length+1 %>;
			
			$('form').submit(function(){
				if(flag_valid === true){
					name_form = $(this).attr('id');
					flag_valid = false;
					$('#pbdiv').show();
					var array_table = $('#'+name_form+'').serializeArray();
					$('#'+name_form+' *').attr("disabled", true);
					$('#status').text('Подключение к серверу.').css('color','#333');
					$('#progressbar').progressbar({ value: 0 });
					buff_msg = 'new';
					var buff_obj = {name:'o_id', value : '<%= data.o_id %>'};
					array_table[array_table.length] = buff_obj;
					var buff_obj = {name:'sub_no', value : subno};
					array_table[array_table.length] = buff_obj;
					buff_arr = array_table;
					socket.emit(buff_msg, name_form, array_table);
				}
				return false;
			});
					
			//socket
			socket.on('start_save', function () {
				buff_msg = 'not';
				$('#status').text('Обработка данных на сервере.');
				$('#progressbar').progressbar({ value: 35 });
			});
					
					
			socket.on('end_save', function (new_suborder) {
				$('#status').text('Данные на сервере сохраненны.');
				$('#progressbar').progressbar({ value: 70 });
				$('#'+name_form+' *').attr("disabled", false);
				$('#status').text('Добовление данных к таблице.');
				$('#list_suborders').dataTable().fnAddData( [
							'<a href="/<%= action2%>/view/suborder/'+new_suborder+'">'+subno+'</a>',
							'<span class="warning">'+buff_arr[0].value+'</span>',
							'<span class="warning">'+buff_arr[1].value+'</span>',
							'<span class="warning">'+buff_arr[2].value+'</span>',
							'<span class="warning"> открытое прил.</span>',
							'<span class="warning">'+buff_arr[3].value+'</span>'
				]);
				subno++;
				$('#'+name_form)[0].reset();
				$('#progressbar').progressbar({ value: 100 });
				setTimeout(function() {
					$('#pbdiv').hide();
				}, 1000);
			});
				
			socket.on('err_save', function (err) {
			$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
			setTimeout(function() {
					$('#'+name_form+' *').attr("disabled", false);
					$('#pbdiv').hide();
				}, 6000);
			});
			
			$('#save_suborder_div').hide();
			$('#datepicker').datepicker();	
		<%}%>
						
	});
	</script>
	<%@ status %>
	<h1>Договор №<%=data.o_id%></h1>
	<strong>Заказчик:</strong> <a href="/customers/view/main/<%= data.customer.c_id %>"><%= data.customer.name %></a> <strong>Менеджер:</strong> <%= data.customer.fio %><br>
	<strong>Название:</strong> <%= data.name %> <br>
	<strong>Дата заключения:</strong> <%= data.formatdate %> <br>
	<strong>Примечание:</strong> <%= data.note %> <br>
	<%  if(access > 0 && access !=  1.5){ %><a href="/<%= action2%>/edit/main/<%= data.o_id  %>">Редактировать</a>
	<h1>Добавить приложение к договору:<img id="save_suborder" class="openclose" src="/images/sort_desc.png" width="19" height="19" border="0" title="Открыть"></h1>
	<div id="save_suborder_div">
	<form method="post" id="suborder" action="/">
	<table width="100%"  border="0" cellpadding="4" cellspacing="4">
	  <tr>
		<td width="20%" align="right">Название:*</td>
		<td width="80%"><input name="name" type="text" size="25" autocomplete="off" class="required"></td>
	  </tr>
	  <tr>
		<td align="right">Номер заявки:</td>
		<td><input name="znubmer" type="text" size="25" autocomplete="off"></td>
	  </tr>
	  <tr>
		<td align="right">Дата заключения:</td>
		<td><input name="date" id="datepicker" type="text" size="25"></td>
	  </tr>
	  <tr>
		<td align="right">Примечание:</td>
		<td><textarea name="note" cols="60" rows="5"></textarea></td>
	  </tr>
	  <tr>
		<td align="right"></td>
		<td><button type="subbutton" id="sub">Сохранить</button></td>
	  </tr>
	</table>
	</form>
	</div>
	<%}%>
	<h1>Список приложений к договору</h1>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="list_suborders">
	<thead>
		<tr>
			<th width="30px">№</th>
			<th>Название</th>
			<th>Номер заявки</th>
			<th>Дата заключения</th>
			<th>Статус</th>
			<th>Примечание</th>
		</tr>
	</thead>
	<tbody >
	<%if(list)%>
	<%for (var i = 0; i < list.length; i++) {%>
		<tr <% if(list[i].status === "0") { %> class="gradeA"<%} else {%>class="gradeB"<%}%>>
			<td><a href="/orders/view/suborder/<%= list[i].subo_id %>"><%= list[i].sub_no %></a></td>
			<td><%= list[i].name %></td>
			<td><%= list[i].znubmer  %></td>
			<td><%= list[i].formatdate %></td>
			<td>
			<%for (var g = 0; g < status.length; g++){%>
			<% if(status[g].id === list[i].status) {%>
			<%= status[g].name %><%}}%></td>
			<td><%= list[i].note %></td>
		</tr>
		<% }%>
	<tfoot>
		<tr>
			<th width="30px">№</th>
			<th>Название</th>
			<th>Номер заявки</th>
			<th>Дата заключения</th>
			<th>Статус</th>
			<th>Примечание</th>
		</tr>
	</tfoot>
	</tbody>
	</table>