	<script type="text/javascript">
	$(document).ready(function() {	
					
					$("input[name='DATE']").mask("99.99.9999");
					
					$("#list_suborders").dataTable({
					"sPaginationType": "full_numbers",
					"aoColumns": [
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" }
								]
					});
					
					$('form').validate({
					   submitHandler: function() {
						flag_valid = true;
					   }
					});
					
					$("input:text").keydown(function (event) {
						if (event.keyCode == 13) {
						event.preventDefault();
						}
					});
					
					$("input[name='no_save']").click(function(){
						buff_msg = 'not';
						$('#'+name_form+' *').attr("disabled", false);
						$('#pbdiv').hide();
					});
					
					$('form').submit(function(){
							if(flag_valid === true){
								name_form = $(this).attr('id');
								flag_valid = false;
								$('#pbdiv').show();
								var array_table = $('#'+name_form+'').serializeArray();
								$('#'+name_form+' *').attr("disabled", true);
								$('#status').text('Подключение к серверу.').css('color','#333');
								$('#progressbar').progressbar({ value: 0 });
								buff_msg = 'new_suborder';
								var buff_obj = {name:'ORDER_ID', value : '<%= order.ID %>'};
								array_table[array_table.length] = buff_obj;
								buff_arr = array_table;
								socket.emit(buff_msg, name_form, id, array_table);
							}
							return false;
					});
					
					//socket
					socket.on('start_save', function () {
						buff_msg = 'not';
						$('#status').text('Обработка данных на сервере.');
						$('#progressbar').progressbar({ value: 35 });
					});
					
					
					socket.on('end_save', function (new_suborder) {
						$('#status').text('Данные на сервере сохраненны.');
						$('#progressbar').progressbar({ value: 70 });
						$('#'+name_form+' *').attr("disabled", false);
						$('#status').text('Добовление данных к таблице.');
						$('#list_suborders').dataTable().fnAddData( [
							'<a href="/<%= user.role %>/orders/view/suborder/'+new_suborder.ID+'">'+new_suborder.SUBNO+'</a>',
							'<span class="warning">'+buff_arr[0].value+'</span>',
							'<span class="warning">'+buff_arr[1].value+'</span>',
							'<span class="warning">'+buff_arr[2].value+'</span>'
						]);
						$('#'+name_form)[0].reset();
						$('#progressbar').progressbar({ value: 100 });
						setTimeout(function() {
							$('#pbdiv').hide();
						}, 1000);
					});
				
					socket.on('err_save', function (err) {
					$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
					setTimeout(function() {
							$('#'+name_form+' *').attr("disabled", false);
							$('#pbdiv').hide();
						}, 6000);
					});
			
			$('#save_suborder_div').hide();
			$('#datepicker').datepicker();	
						
			});
	</script>
	<%- partial('status') %>
	<h1>Приложение №<%=order.SUBNO%></h1>
	<strong>Договор №:</strong> <a href="/<%- user.role %>/orders/view/main/<%=order.ORDER_ID%>"><%=order.ORDER_ID%></a><br>
	<strong>Заказчик:</strong> <a href="/<%- user.role %>/customers/view/main/<%= order.CUSTOMER_ID %>"><%= order.NAME_SOB %> &laquo;<%= order.CNAME %>&raquo;</a><br>
	<strong>Название:</strong> <%= order.NAME %> <br>
	<strong>Дата заключения:</strong> <%= order.SODATE %> <br>
	<strong>Примечание:</strong> <%- order.NOTE %> </p>
	<%  if(access ==  1){ %><p><a href="/<%- user.role %>/<%- action2%>/edit/suborder/<%- order.ID  %>">Редактировать</a></p><%}%>
	