	<script type="text/javascript">
	$(document).ready(function() {	
					
					
					$("input:text").keydown(function (event) {
						if (event.keyCode == 13) {
						event.preventDefault();
						}
					});
					
					$("#save").validate({
					   submitHandler: function() {
						flag_valid = true;
					   }
					});
					
					$("input[name='no_save']").click(function(){
						buff_msg = 'not';
						$('#save *').attr("disabled", false);
						$('#pbdiv').hide();
					});
					
					$('#save').submit(function(){
							if(flag_valid === true){
								flag_valid = false;
								$('#pbdiv').show();
								var array_table = $('#save').serializeArray();
								$('#save *').attr("disabled", true);
								$('#status').text('Подключение к серверу.').css('color','#333');
								$('#progressbar').progressbar({ value: 0 });
								buff_msg = 'update_user';
								buff_arr = array_table;
								socket.emit(buff_msg, array_table);
							}
							return false;
					});
					
					
										
					socket.on('start_save', function () {
					buff_msg = 'not';
					$('#status').text('Обработка данных на сервере.');
					$('#progressbar').progressbar({ value: 35 });
						});
									
					socket.on('end_save', function () {
							$('#status').text('Данные на сервере сохраненны.');
							$('#progressbar').progressbar({ value: 70 });
							$('#save *').attr("disabled", false);
							$('#status').text('Переход на страницу пользователь.');
							$('#save')[0].reset();
							$('#progressbar').progressbar({ value: 100 });
							setTimeout(function() {
								location.href='/<%= user.role %>/users';
								
							}, 1000);
						});
					
					socket.on('err_save', function (err) {
						$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
						setTimeout(function() {
								$('#save *').attr("disabled", false);
								$('#pbdiv').hide();
							}, 4000);
					});
					
			});
	</script>
	<%- partial('status') %>
	<h1>Редактировать пользователя</h1>
	<form method="post" id="save" action="/">
	<table width="100%"  border="0" cellpadding="4" cellspacing="4">
	  <tr>
		<td width="10%" align="right">Фамилия*:</td>
		<td width="90%"><input name="lastname" type="text" size="40" value="<%= users.lastname %>" class="required"></td>
	  </tr>
	  <tr>
		<td align="right">Имя:</td>
		<td><input name="name" type="text" size="40" value="<%= users.name %>"></td>
	  </tr>
	  <tr>
		<td align="right">Должность:</td>
		<td><input name="position" type="text" size="40" value="<%= users.position %>"></td>
	  </tr>
	  <tr>
		<td align="right">Компания:</td>
		<td><select name="company">
		<% listcustomers.forEach (function(customers){ %>
			<option value="<%= customers.ID %>" <% if(users.company == customers.ID) { %> selected<%}%>><%= customers.NAME_SOB %>&nbsp;&laquo;<%= customers.NAME %>&raquo;</option>
			<% }) %>
		</select></td>
	  </tr>
	  <tr>
		<td align="right">Role:</td>
		<td><select name="role" >
			<option value="manager"<% if(users.role == "manager") { %> selected<%}%>>manager&nbsp;&nbsp;</option>
			<option value="admin" <% if(users.role == "admin") { %> selected<%}%>>admin&nbsp;&nbsp;</option>
		</select></td>
	  </tr>
	  <tr>
		<td align="right">Логин:</td>
		<td><input name="username" type="text" size="20" class="required" value="<%= users.username %>"></td>
	  </tr>
	  <tr>
		<td align="right">Пароль:</td>
		<td><input type="password" name="password" SIZE="20" class="required" value=""></td>
	  </tr>
	  <tr>
		<td align="right"></td>
		<td><button type="subbutton" id="sub">Сохранить</button></td>
	  </tr>
	</table>
	</form>