	<% this.extend("layout"); %>
	<script type="text/javascript">
	$(document).ready(function() {	
		
			$("#list_plan").dataTable({
					"sPaginationType": "full_numbers",
					"aoColumns": [
									{ "sType": "numeric-url", "sClass": "center" },
									{ "sType": "date", "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center"},
									{ "sClass": "center"},
									{ "sClass": "center"},
									{ "sClass": "center"},
									{ "sClass": "center"},
									{ "sClass": "center"}
								]
			});
					
					
			$('form').validate({
				submitHandler: function() {
					flag_valid = true;
				}
			});
					
			$("input:text").keydown(function (event) {
				if (event.keyCode == 13) {
					event.preventDefault();
				}
			});
					
			$("input[name='no_save']").click(function(){
				buff_msg = 'not';
				$('#'+name_form+' *').attr("disabled", false);
				$('#pbdiv').hide();
			});
					
					
			$('form').submit(function(){
				if(flag_valid === true){
					name_form = $(this).attr('id');
					flag_valid = false;
					$('#pbdiv').show();
					var array_table = $('#'+name_form+' *').serializeArray();
					$('#'+name_form+' *').attr("disabled", true);
					$('#status').text('Подключение к серверу.').css('color','#333');
					$('#progressbar').progressbar({ value: 0 });
					buff_msg = 'new';
					buff_arr = array_table;
					socket.emit(buff_msg, name_form, array_table);
				}
				return false;
			});
					
			//socket
			socket.on('start_save', function () {
				buff_msg = 'not';
				$('#status').text('Обработка данных на сервере.');
				$('#progressbar').progressbar({ value: 35 });
			});
					
					
			socket.on('end_save', function (new_order) {
				$('#status').text('Данные на сервере сохраненны.');
				$('#progressbar').progressbar({ value: 70 });
				$('#'+name_form+' *').attr("disabled", false);
				$('#list_orders').dataTable().fnAddData( [
					'<a href="/orders/view/main/'+new_order+'">'+new_order+'</a>',
					'<span class="warning">'+buff_arr[1].value+'</span>',
					'<a href="/customers/view/main/'+buff_arr[0].value+'">'+$('select[name="c_id"] :selected').text()+'</a>',
					'<span class="warning">'+buff_arr[2].value+'</span>',
					'<span class="warning">'+buff_arr[3].value+'</span>',
					'<span class="warning">Вы</span>'
				]);
				$('#status').text('Добовление данных к таблице.');
				$('#'+name_form)[0].reset();
				$('#progressbar').progressbar({ value: 100 });
				setTimeout(function() {
					$('#pbdiv').hide();
				}, 1000);
			});
				
			socket.on('err_save', function (err) {
				$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
				setTimeout(function() {
					$('#'+name_form+' *').attr("disabled", false);
					$('#pbdiv').hide();
				}, 6000);
			});
						
	});
	</script>
	<%@ status %>
	<h1>Список планирумеых отгрузок</h1>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="list_plan">
	<thead>
		<tr>
			<th>№</th>
			<th>Дата отгр.</th>
			<th>Заказчик</th>
			<th>Продукция</th>
			<th>Поддонов (шт.)</th>
			<th>В шт/метр2</th>
			<th>Цена</th>
			<th>Сумма</th>
			<th>Поставщик</th>
			<th>№ счета</th>
		</tr>
	</thead>
	<tbody >

	<tfoot>
		<tr>
			<th>№</th>
			<th>Дата отгр.</th>
			<th>Заказчик</th>
			<th>Продукция</th>
			<th>Поддонов (шт.)</th>
			<th>В шт/метр2</th>
			<th>Цена</th>
			<th>Сумма</th>
			<th>Поставщик</th>
			<th>№ счета</th>
		</tr>
	</tfoot>
	</tbody>
	</table>