	<script type="text/javascript">
	$(document).ready(function() {	
					
					
					$("input[name='inn']").mask("9999999999");
					$("input[name='kpp']").mask("999999999");
					$("input[name='ogrn']").mask("9999999999999");
					$("input[name='okpo']").mask("99999999");
					$("input[name='phones']").mask("(999) 999-9999? доб.9999");
					$("input[name='fax']").mask("(999) 999-9999? доб.9999");
					
					
					
					$("#save").validate({
					   submitHandler: function() {
						flag_valid = true;
					   }
					});
					
					$("input:text").keydown(function (event) {
						if (event.keyCode == 13) {
						event.preventDefault();
						}
					});
					
					$("input[name='no_save']").click(function(){
						buff_msg = 'not';
						$('#save *').attr("disabled", false);
						$('#pbdiv').hide();
						var sel = $("select[name='forma_sob'] :selected").val();
								if(sel == 0) {
									$("input[name='inn']").attr("disabled", true);
									$("input[name='inn']").attr("value", "1111111111");
									$("select[name='type']").attr("disabled", true);
									$("input[name='kpp']").attr("disabled", true);
									$("input[name='ogrn']").attr("disabled", true);
									$("input[name='okpo']").attr("disabled", true);
									$("input[name='www']").attr("disabled", true);
								}
					});
					
					$("select[name='forma_sob']").change(function(){
						var sel = $("select[name='forma_sob'] :selected").val();
						if(sel == 0) {
							$("input[name='inn']").attr("disabled", true);
							$("select[name='type']").attr("disabled", true);
							$("input[name='kpp']").attr("disabled", true);
							$("input[name='ogrn']").attr("disabled", true);
							$("input[name='okpo']").attr("disabled", true);
							$("input[name='www']").attr("disabled", true);
						}
						else {
							$("input[name='inn']").attr("disabled", false);
							$("select[name='type']").attr("disabled", false);
							$("input[name='kpp']").attr("disabled", false);
							$("input[name='ogrn']").attr("disabled", false);
							$("input[name='okpo']").attr("disabled", false);
							$("input[name='www']").attr("disabled", false);
						}
					});
					
					$('#save').submit(function(){
							if(flag_valid === true){
								flag_valid = false;
								socket.emit('simile_save', 'customers/edit/main/<%= dataedit.ID %>', <%= dateopen %>);
							}
							return false;
					});
					
					socket.on('TimeDocSimile', function (msg) {
						if(msg === 'ok'){
							flag_valid = false;
							$('#pbdiv').show();
							var sel = $("select[name='forma_sob'] :selected").val();
								if(sel == 0) {
									$("input[name='inn']").attr("disabled", false);
									$("input[name='inn']").attr("value", "1111111111");
									$("select[name='type']").attr("disabled", false);
									$("input[name='kpp']").attr("disabled", false);
									$("input[name='ogrn']").attr("disabled", false);
									$("input[name='okpo']").attr("disabled", false);
									$("input[name='www']").attr("disabled", false);
								}
							var array_table = $('#save').serializeArray();
							$('#save *').attr("disabled", true);
							$('#status').text('Подключение к серверу.').css('color','#333');
							$('#progressbar').progressbar({ value: 0 });
							buff_msg = 'update_main_customer';
							buff_arr = array_table;
							id = <%= dataedit.ID %>;
							socket.emit(buff_msg, name_form, <%= dataedit.ID %>, array_table);
						} else {
							$('#pbdiv').show();
							$('#status').text('Отказ в сохранение, т.к. данный документ уже был отредактирован другим пользователем, обновите страницу (F5).').css('color','#FF0000');
						}
					});
					
					$('#back').click(function(){
						location.href='/<%= user.role %>/customers/view/main/<%= dataedit.ID %>';
					});
					
					
					//socket
					socket.on('start_save', function () {
						buff_msg = 'not';
						$('#status').text('Обработка данных на сервере.');
						$('#progressbar').progressbar({ value: 35 });
					});
					
					socket.on('end_save', function () {
						$('#status').text('Данные на сервере сохраненны.');
						$('#progressbar').progressbar({ value: 70 });
						setTimeout(function() {
							$('#status').text('Переход на страницу данных контр агента.');
							$('#progressbar').progressbar({ value: 100 });
							location.href='/<%= user.role %>/customers/view/main/<%= dataedit.ID %>';
						}, 100);
					});
				
					socket.on('err_save', function (err) {
					$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
					setTimeout(function() {
							$('#save *').attr("disabled", false);
							$('#pbdiv').hide();
							var sel = $("select[name='forma_sob'] :selected").val();
								if(sel == 0) {
									$("input[name='inn']").attr("disabled", true);
									$("input[name='inn']").attr("value", "1111111111");
									$("select[name='type']").attr("disabled", true);
									$("input[name='kpp']").attr("disabled", true);
									$("input[name='ogrn']").attr("disabled", true);
									$("input[name='okpo']").attr("disabled", true);
									$("input[name='www']").attr("disabled", true);
								}
						}, 6000);
					});
					
					$('#help_div').hide();
					<% if(dataedit.FORMA_SOB === 0) {%>
							$("select[name='type']").attr("disabled", true);
							$("input[name='kpp']").attr("disabled", true);
							$("input[name='ogrn']").attr("disabled", true);
							$("input[name='okpo']").attr("disabled", true);
							$("input[name='www']").attr("disabled", true);
					<%} %>
						
			});
	</script>
	<%- partial('status') %>
	<%- partial('editstatus') %>
	<h1>Подсказка <img id="help" class="openclose" src="/images/sort_desc.png" width="19" height="19" border="0" title="Открыть"></h1>
	<div id="help_div"><p>
	<strong>Клиент</strong> — лицо, от которого Вы получаете денежные средства (показывается в поступлениях и первичных документах).<br>
	<strong>Поставщик</strong> — лицо, которому Вы выплачиваете денежные средства (показывается в списаниях). <br>
	<strong>Контрагент</strong>— лицо, одновременно являющееся и клиентом и партнером (показывается во всех списках в системе).<br>
	</p>
	</div>
	<h1>Редактирование контрагента</h1>
	<div id="new_customer_div">
	<form method="post" id="save" action="/">
	<table width="100%"  border="0" cellpadding="4" cellspacing="4">
	  <tr>
		<td align="right">Название:*</td>
		<td><input name="name" type="text" size="40" class="required" value="<%= dataedit.NAME %>"></td>
	  </tr>
	  <tr>
		<td align="right"><span id="fs">Форма собствености:</span></td>
		<td><select name="forma_sob">
		<% forma_sob.forEach (function(forma_sob){ %>
			<option value="<%= forma_sob.ID %>" <% if(dataedit.FORMA_SOB == forma_sob.ID) { %> selected<%}%>><%= forma_sob.NAME %> &nbsp;&nbsp;&nbsp;&nbsp;</option>
			<% }) %>
		</select></td>
	  </tr>
	  <tr>
		<td width="20%" align="right">ИНН:*</td>
		<td width="80%"><input name="inn" type="text" size="13" value="<%= dataedit.INN %>" <% if(dataedit.FORMA_SOB == 0) { %> disabled<%}%> class="required">&nbsp;&nbsp;<a href="http://www.kartoteka.ru/search/" target="_blank">Поиск в реестре</a></td>
	  </tr>
	  <tr>
		<td align="right">Тип контрагента:</td>
		<td><select name="type">
			<option value="0" <% if(dataedit.TYPE === 0) { %> selected<%}%>>Клиент&nbsp;&nbsp;</option>
			<option value="1" <% if(dataedit.TYPE === 1) { %> selected<%}%>>Поставщик&nbsp;&nbsp;</option>
			<option value="2" <% if(dataedit.TYPE === 2) { %> selected<%}%> >Контрагент&nbsp;&nbsp;</option>
		</select></td>
	  </tr>
	  <tr>
		<td align="right">КПП:</td>
		<td><input name="kpp" type="text" size="10" value="<%= dataedit.KPP %>"></td>
	  </tr>
	  <tr>
		<td align="right">ОГРН:</td>
		<td><input name="ogrn" type="text" size="20" value="<%= dataedit.OGRN %>"></td>
	  </tr>
	  <tr>
		<td align="right">ОКПО:</td>
		<td><input name="okpo" type="text" size="20" value="<%= dataedit.OKPO %>"></td>
	  </tr>
	  <tr>
		<td align="right">Телефон:</td>
		<td><input  name="phones" type="text" SIZE="30" value="<%= dataedit.PHONES %>"></td>
	  </tr>
	  <tr>
		<td align="right">Факс :</td>
		<td><input  name="fax" type="text" SIZE="30" value="<%= dataedit.FAX %>"></td>
	  </tr>
	  <tr>
		<td align="right">Сайт компании: http://</td>
		<td><input  name="www" type="text" SIZE="30" value="<%= dataedit.WWW %>"></td>
	  </tr>
	   <tr>
		<td align="right">E-mail:</td>
		<td><input name="email" type="text" SIZE="30" value="<%= dataedit.EMAIL %>" class="email"></td>
	  </tr>
	  <tr>
		<td align="right">Примечание:</td>
		<td><textarea name="note" cols="60" rows="5"><%= dataedit.NOTE %></textarea>
	  </tr>
	  <tr>
		<td align="right"></td>
		<td><button type="button" id="back">&nbsp;&nbsp;Назад&nbsp;&nbsp;</button><button type="subbutton" id="sub">Сохранить</button></td>
	  </tr>
	</table>
	</form>
	</div>
