	<script type="text/javascript">
	$(document).ready(function() {	
					
					
					$("input[name='inn']").mask("9999999999");
					$("input[name='kpp']").mask("999999999");
					$("input[name='ogrn']").mask("9999999999999");
					$("input[name='okpo']").mask("99999999");
					$("input[name='phones']").mask("(999) 999-9999? доб.9999");
					$("input[name='fax']").mask("(999) 999-9999? доб.9999");
					
					
					$('#list_customers').dataTable( {
						"sPaginationType": "full_numbers",
						"aoColumns": [
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center"},
									{ "sClass": "center"},
									{ "sClass": "center"}
								]
					});
					
					$('#list_fcustomers').dataTable( {
						"sPaginationType": "full_numbers",
						"aoColumns": [
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center" },
									{ "sClass": "center"},
									{ "sClass": "center"}
								]
					});
					
					
					$("#radio2").click(function(){
						$('#u_customers_div').hide();
						$('#f_customers_div').show();					
					});
					
					$("#radio1").click(function(){
						$('#f_customers_div').hide();
						$('#u_customers_div').show();					
					});
					
					
					$("#save").validate({
					   submitHandler: function() {
						 flag_valid = true;
					   }
					});
					
					$("input:text").keydown(function (event) {
						if (event.keyCode == 13) {
						event.preventDefault();
						}
					});
					
					$("input[name='no_save']").click(function(){
						buff_msg = 'not';
						$('#save *').attr("disabled", false);
						$('#pbdiv').hide();
						var sel = $("select[name='forma_sob'] :selected").val();
								if(sel == 0) {
									$("input[name='inn']").attr("disabled", true);
									$("input[name='inn']").attr("value", "1111111111");
									$("select[name='type']").attr("disabled", true);
									$("input[name='kpp']").attr("disabled", true);
									$("input[name='ogrn']").attr("disabled", true);
									$("input[name='okpo']").attr("disabled", true);
									$("input[name='www']").attr("disabled", true);
								}
					});
					
					
					$("select[name='forma_sob']").change(function(){
						var sel = $("select[name='forma_sob'] :selected").val();
						if(sel == 0) {
							$("input[name='inn']").attr("disabled", true);
							$("select[name='type']").attr("value", 0);
							$("select[name='type']").attr("disabled", true);
							$("input[name='kpp']").attr("disabled", true);
							$("input[name='ogrn']").attr("disabled", true);
							$("input[name='okpo']").attr("disabled", true);
							$("input[name='www']").attr("disabled", true);
						}
						else {
							$("input[name='inn']").attr("disabled", false);
							$("select[name='type']").attr("disabled", false);
							$("input[name='kpp']").attr("disabled", false);
							$("input[name='ogrn']").attr("disabled", false);
							$("input[name='okpo']").attr("disabled", false);
							$("input[name='www']").attr("disabled", false);
						}
					});
					
					
					$('#save').submit(function(){
							if(flag_valid === true){
								flag_valid = false;
								$('#pbdiv').show();
								var sel = $("select[name='forma_sob'] :selected").val();
								if(sel == 0) {
									$("input[name='inn']").attr("disabled", false);
									$("input[name='inn']").attr("value", "1111111111");
									$("select[name='type']").attr("disabled", false);
									$("input[name='kpp']").attr("disabled", false);
									$("input[name='ogrn']").attr("disabled", false);
									$("input[name='okpo']").attr("disabled", false);
									$("input[name='www']").attr("disabled", false);
								}
								var array_table = $('#save').serializeArray();
								$('#save *').attr("disabled", true);
								$('#status').text('Подключение к серверу.').css('color','#333');
								$('#progressbar').progressbar({ value: 0 });
								buff_msg = 'new_customer';
								buff_arr = array_table;
								socket.emit('new_customer', name_form, id, array_table);
							}
							return false;
					});
					
					//socket
					socket.on('start_save', function () {
						buff_msg = 'not';
						$('#status').text('Обработка данных на сервере.');
						$('#progressbar').progressbar({ value: 35 });
					});
					
					socket.on('end_save', function (new_customer) {
						$('#status').text('Данные на сервере сохраненны.');
						$('#progressbar').progressbar({ value: 70 });
						$('#save *').attr("disabled", false);
						var contragent;
						var name_sob;
						var sel = $("select[name='forma_sob'] :selected").val();
						if(sel != 0){
							$('#list_customers').dataTable().fnAddData( [
							"<a href='/<%= user.role %>/customers/view/main/"+new_customer.ID+"'>"+$("select[name='forma_sob'] :selected").text()+"&laquo;"+$("input[name='name']").val()+"&raquo;</a>",
							"<strong>"+$("input[name='inn']").val()+"</strong>",
							$("input[name='phones']").val()+" / "+$("input[name='fax']").val(),
							"<a href='http://"+$("input[name='www']").val()+"'>"+$("input[name='www']").val()+"</a>",
							"<strong>"+$("select[name='type'] :selected").text()+"</strong>",
							"<strong><%=user.lastname%> <%=user.name%></strong>",
							"<strong>"+new_customer.UPDATE_DATE+"</strong>"
							]);
						}
						else {
							$('#list_fcustomers').dataTable().fnAddData( [
							"<a href='/<%= user.role %>/customers/view/main/"+new_customer.ID+"'>"+$("input[name='name']").val()+"</a>",
							$("input[name='phones']").val()+" / "+$("input[name='fax']").val(),
							"<a href='mailto:"+$("input[name='email']").val()+"'>"+$("input[name='email']").val()+"</a>",
							"<strong><%=user.lastname%> <%=user.name%></strong>",
							"<strong>"+new_customer.UPDATE_DATE+"</strong>"
							]);
						}
						$('#status').text('Добовление данных к таблице.');
						$('#save')[0].reset();
						$("input[name='inn']").attr("value", "");
						$("input[name='inn']").attr("disabled", true);
						$("select[name='type']").attr("disabled", true);
						$("input[name='kpp']").attr("disabled", true);
						$("input[name='ogrn']").attr("disabled", true);
						$("input[name='okpo']").attr("disabled", true);
						$("input[name='www']").attr("disabled", true);
						$('#progressbar').progressbar({ value: 100 });
						setTimeout(function() {
							$('#pbdiv').hide();
							$('#new_customer_div').hide();
						}, 1000);
					});
				
					socket.on('err_save', function (err) {
					$('#status').text('Ошибка сохранения: '+err).css('color','#FF0000');
					setTimeout(function() {
							$('#save *').attr("disabled", false);
							$('#pbdiv').hide();
							var sel = $("select[name='forma_sob'] :selected").val();
								if(sel == 0) {
									$("input[name='inn']").attr("disabled", true);
									$("input[name='inn']").attr("value", "1111111111");
									$("select[name='type']").attr("disabled", true);
									$("input[name='kpp']").attr("disabled", true);
									$("input[name='ogrn']").attr("disabled", true);
									$("input[name='okpo']").attr("disabled", true);
									$("input[name='www']").attr("disabled", true);
								}
						}, 6000);
					});
					
					$('#help_div').hide();
					$('#new_customer_div').hide();
					$('#f_customers_div').hide();
					$("input[name='inn']").attr("disabled", true);
					$("select[name='type']").attr("disabled", true);
					$("input[name='kpp']").attr("disabled", true);
					$("input[name='ogrn']").attr("disabled", true);
					$("input[name='okpo']").attr("disabled", true);
					$("input[name='www']").attr("disabled", true);
					
					$("#radiomenu" ).buttonset();
			});
	</script>
	<%- partial('status') %>
	<h1>Подсказка <img id="help" class="openclose" src="/images/sort_desc.png" width="19" height="19" border="0" title="Открыть"></h1>
	<div id="help_div"><p>
	<strong>Клиент</strong> — лицо, от которого Вы получаете денежные средства (показывается в поступлениях и первичных документах).<br>
	<strong>Поставщик</strong> — лицо, которому Вы выплачиваете денежные средства (показывается в списаниях). <br>
	<strong>Контрагент</strong>— лицо, одновременно являющееся и клиентом и партнером (показывается во всех списках в системе).<br>
	</p>
	</div>
	<h1>Новый контрагент<img id="new_customer" class="openclose" src="/images/sort_desc.png" width="19" height="19" border="0" title="Открыть"></h1>
	<div id="new_customer_div">
	<form method="post" id="save" action="/">
	<table width="100%"  border="0" cellpadding="4" cellspacing="4">
	  <tr>
		<td align="right">Название:*</td>
		<td><input name="name" type="text" size="40" class="required"></td>
	  </tr>
	  <tr>
		<td align="right">Форма собствености:</td>
		<td><select name="forma_sob">
		<% forma_sob.forEach (function(forma_sob){ %>
			<option value="<%= forma_sob.ID %>"><%= forma_sob.NAME %>&nbsp;&nbsp;&nbsp;&nbsp;</option>
			<% }) %>
		</select></td>
	  </tr>
	  <tr>
		<td width="20%" align="right">ИНН:*</td>
		<td width="80%"><input name="inn" type="text" size="13" class="required">&nbsp;&nbsp;<a href="http://www.kartoteka.ru/search/" target="_blank">Поиск в реестре</a></td>
	  </tr>
	  <tr>
		<td align="right">Тип контрагента:</td>
		<td><select name="type">
			<option value="0">Клиент&nbsp;&nbsp;</option>
			<option value="1">Поставщик&nbsp;&nbsp;</option>
			<option value="2">Контрагент&nbsp;&nbsp;</option>
		</select></td>
	  </tr>
	  <tr>
		<td align="right">КПП:</td>
		<td><input name="kpp" type="text" size="10"></td>
	  </tr>
	  <tr>
		<td align="right">ОГРН:</td>
		<td><input name="ogrn" type="text" size="20"></td>
	  </tr>
	  <tr>
		<td align="right">ОКПО:</td>
		<td><input name="okpo" type="text" size="20" ></td>
	  </tr>
	  <tr>
		<td align="right">Телефон:</td>
		<td><input  name="phones" type="text" SIZE="30"></td>
	  </tr>
	  <tr>
		<td align="right">Факс :</td>
		<td><input  name="fax" type="text" SIZE="30"></td>
	  </tr>
	  <tr>
		<td align="right">Сайт компании: http://</td>
		<td><input  name="www" type="text" SIZE="30"></td>
	  </tr>
	   <tr>
		<td align="right">E-mail:</td>
		<td><input name="email" type="text" SIZE="30" class="email"></td>
	  </tr>
	  <tr>
		<td align="right">Примечание:</td>
		<td><textarea name="note" cols="60" rows="5"></textarea>
	  </tr>
	  <tr>
		<td align="right"></td>
		<td><button type="subbutton" id="sub">Сохранить</button></td>
	  </tr>
	</table>
	</form>
	</div>
	<h1>Список контрагентов</h1>
	<div id="radiomenu">
		<input type="radio" id="radio1" name="radio" checked="checked"/><label for="radio1">Юр. лица</label>
		<input type="radio" id="radio2" name="radio" /><label for="radio2">Физ. лица</label>
	</div><br>
	<div id="u_customers_div">
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="list_customers">
	<thead>
		<tr>
			<th width="20%">Название</th>
			<th>ИНН</th>
			<th>Телефон/Факс</th>
			<th>WWW</th>
			<th>Тип</th>
			<th>Менеджер</th>
			<th>Время ред.</th>
		</tr>
	</thead>
	<tbody >
		<% list_customers.forEach (function(customers){ %>
		<% if(customers.FORMA_SOB != 0){%>
		<tr class="<% if(customers.TYPE === 0){%>gradeA<%} if(customers.TYPE === 1) {%>gradeB<%} if(customers.TYPE === 2){%>gradeU<%}%>">
			<td><a href="/<%= user.role %>/customers/view/main/<%= customers.ID %>"><%= customers.NAME_SOB %>  &laquo;<%= customers.NAME %>&raquo;</a></td>
			<td><%= customers.INN %></td>
			<td><%= customers.PHONES %> / <%= customers.FAX %></td>
			<td><a href="http://<%= customers.WWW %>"><%= customers.WWW %></a></td>
			<td><%  if(customers.TYPE === 0){%>Клиент<%} if(customers.TYPE === 1){%>Поставщик<% } if(customers.TYPE === 2){ %>Контрагент<% } %></td>
			<td><%= customers.UNAME %></td>
			<td><%= customers.UPDATE_DATE %></td>
		</tr>
		<% }})%>
	<tfoot>
		<tr>
			<th width="20%">Название</th>
			<th>ИНН</th>
			<th>Телефон/Факс</th>
			<th>WWW</th>
			<th>Тип</th>
			<th>Менеджер</th>
			<th>Время ред.</th>
		</tr>
	</tfoot></tbody></table>
	</div>
	<div id="f_customers_div">
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="list_fcustomers">
	<thead>
		<tr>
			<th width="20%">Название</th>
			<th>Телефон/Факс</th>
			<th>email</th>
			<th>Менеджер</th>
			<th>Время ред.</th>
		</tr>
	</thead>
	<tbody >
		<% list_customers.forEach (function(customers){ %>
		<% if(customers.FORMA_SOB === 0){%>
		<tr class="<% if(customers.TYPE === 0){%>gradeA<%} if(customers.TYPE === 1) {%>gradeB<%} if(customers.TYPE === 2){%>gradeU<%}%>">
			<td><a href="/<%= user.role %>/customers/view/main/<%= customers.ID %>"><%= customers.NAME %></a></td>
			<td><%= customers.PHONES %> / <%= customers.FAX %></td>
			<td><a href="mailto:<%= customers.EMAIL %>" target="_blank"><%= customers.EMAIL %></a></td>
			<td><%= customers.UNAME %></td>
			<td><%= customers.UPDATE_DATE %></td>
		</tr>
		<% }})%>
	<tfoot>
		<tr>
			<th width="20%">Название</th>
			<th>Телефон/Факс</th>
			<th>email</th>
			<th>Менеджер</th>
			<th>Время ред.</th>
		</tr>
	</tfoot></tbody></table>
	</div>